<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>-->

  <connectionStrings>
    <!--<add name="LanguageDB" connectionString="Data Source=.;Initial Catalog=LanguageDBProject;Integrated Security=True"/>-->
    <add name="LanguageDB" connectionString="Data Source=.;Initial Catalog=LanguageDB;Integrated Security=True"/>
    <!--当前数据库连接的是本地数据库，使用WINDOWS身份连接数据库，实际应用中可能需要替换-->
    <!--2016.03.17 TODO:实际应用中数据库连接的更新-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
